* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

:root {
  --secondary-color: #fbb808;
}
.heading {
  font-size: 3rem;
  text-align: center;
}
::-webkit-scrollbar {
  display: none; 
}

.btn:hover{
box-shadow: 0 0 15px wheat;
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}
