.skills {
  min-height: calc(100vh - 5rem);
  background: linear-gradient(
    to bottom,
    var(--secondary-color),
    rgb(30, 30, 30)
  );
}

.heading {
  color: black;
}

.skills .container {
  background: #13131377;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1rem;
}

.skills .container .bar {
  padding-bottom: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: black;
  transition: 0.2s;
}

.skills .container .bar:hover {
  box-shadow: 0 0px 25px wheat !important;
}

.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.skills .container .bar .info img {
  height: 50px;
}

.skills .container .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.container .skill-show,
.container .skill-less {
  display: none; /* Hide the buttons by default */
}

@media (max-width: 895px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }

  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
    width: 100%;
  }

  .skills .container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    width: 100%;
  }

  .skills .container .bar .info span {
    font-size: 1rem;
  }

  .skills .container .bar {
    margin-bottom: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .skills .container .bar.visible {
    opacity: 1;
  }

  .skills .container .bar.hidden {
    display: none;
  }

  .container .skill-show,
  .container .skill-less {
    display: block;
    position: relative;
    text-align: center;
    bottom: 15px;
    width: 55%;
    color: black;
    background-color: var(--secondary-color);
  }

  .container .skill-less {
    left: -10px;
    width: 50%;
  }
}
