.navbar {
  height: 5rem;
  width: 100vw;
  margin: 0rem auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: rgba(245, 222, 179, 0.199);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  object-fit: cover;
  height: 5rem;
  width: 10rem;
}

.desktopMenuListItem {
  margin: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.desktopMenuListItem:hover {
  color: var(--secondary-color);
  padding-bottom: 0.2rem;
  border-bottom: 3px solid var(--secondary-color);
}
.desktopMenuBtn {
  background-color: white;
  color: black;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border: none;
  height: 2.5rem;
  border-radius: 2rem;
}
.active {
  color: var(--secondary-color);
  padding-bottom: 0.2rem;
  border-bottom: 3px solid var(--secondary-color);
}

.desktopMenuImg {
  font-size: 1.3rem;
  margin-right: 0.4rem;
}
.mobMenu{
  display: none;
color: var(--secondary-color);
font-size: 2rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background-color: rgb(40, 40, 40);
  border-radius: 1rem;
}
.listItem {
  color: white;
  padding: 0.5rem 3rem;
  cursor: pointer;
  margin: 0.25rem;
  text-align: center;
  background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width:720px){
  .mobMenu{
    display: flex;
  }
  .desktopMenu{
    display: none;
  }
  .desktopMenuBtn{
    display: none;
  }
}
